<!DOCTYPE html>
{% extends 'home.html'%}
{% block bodyblock %}
<div class="container">
    <h3>
        <marquee> Ask for live demo(java,Python,aptitude).....</marquee>
    </h3>

    <div>
        <iframe width="360" height="315" src="https://www.youtube.com/embed/JQbjS0_ZfJ0?si=cSxatkVfYZE9LR2v"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
{% endblock bodyblock%}